<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/application/static/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" id="username-input" name="username"
               value="{{ request.form.username }}" tabindex="1">
        <input type="password" placeholder="Password" id="password-input" name="password"
               value="{{ request.form.password }}"
               tabindex="2">
        <input class="btn btn-default" type="submit" value="Login" tabindex="3" id="login-button">
    </form>
</div>
<div class="container">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
<div class="container">
    <p>Click <a href="/registr">here</a> to create an account.</p>
</div>
</body>
</html>