<!DOCTYPE html>
<html>
<head>
    <title>Welcoming Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/application/static/style.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="container">
    <h1>Welcome to Analytics Server!</h1>
</div>
<div class="container">
    <h2 align="center">Click <a href="/login">here</a> to login.</h2>
    <h2 align="center">Click <a href="/registr">here</a> to sign up.</h2>
</div>
<div class="container">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
</body>
</html>