<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" media="screen">
</head>
<body>
<div class="container">
    <table border="1" width="100%">
        <tr>
            <th rowspan="2" align="left">
                <details>
                    <summary>MyApps</summary>
                    <p>First App</p>
                    <p>Second App</p>
                </details>
            </th>
            <th>
                <p>Google Analytics</p>

            </th>
        </tr>
        <tr>
            <th>
                <p>Apple Analytics</p>
            </th>
        </tr>
    </table>
    <p>Click <a href="/logout">here</a> to logout.</p>
</div>
</body>
</html>